h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
    text-decoration: underline;
    text-shadow: 0 0 10px var(--pink);
}

.timeline {
    width: 100%;
    padding: 20px 0;
    margin: 0px auto;
    position: relative;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 100%;
        background: linear-gradient(transparent 0%, var(--pink) 30%, var(--pink) 60%, transparent 90%);
        z-index: 1;
    }
}


@media screen and (max-width: 600px) {
    .timeline {
        padding-left: 10px;

        &:before {
            left: 13px;
        }
    }
}