/* Header: logo + title */
.project-detail {
  &.pink {
    --color: var(--pink);
  }

  &.green {
    --color: var(--green);
  }

  &.yellow {
    --color: var(--yellow);
  }

  &.light-blue {
    --color: var(--light-blue);
  }

  &.dark-blue {
    --color: var(--dark-blue);
  }

  &.orange {
    --color: var(--orange);
  }

  &.red {
    --color: var(--red);
  }

  &.purple {
    --color: var(--purple);
  }

  &.lime {
    --color: var(--lime);
  }

  .project-detail__header {
    display: flex;
    gap: 1rem;
    align-items: end;
    margin: 1rem 0;
  }

  .project-detail__logo {
    width: 72px;
    height: 72px;
    object-fit: contain;
    border-radius: 8px;
    padding: 0.5rem;
    filter: drop-shadow(0 0 5px var(--color)) drop-shadow(0 0 10px var(--color));
  }

  .project-detail__title {
    text-shadow: 0 0 5px var(--color), 0 0 10px var(--color);
  }

  /* Screenshot */
  .project-detail__screenshot {
    width: 100%;
    border-radius: 10px;
    margin: 1rem 0;
    display: block;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0px 5px var(--color), 0 0px 10px var(--color);
  }

  /* Description */
  .project-detail__description {
    padding: 1rem 2rem;

    backdrop-filter: blur(5px);

    border-radius: 1rem;
    position: relative;
    z-index: 10;
  }

  /* Techs */
  .project-detail__techs {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    align-items: center;
  }

  .project-detail__tech {
    width: 40px;
    height: 40px;
    object-fit: contain;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 6px;
    padding: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }

  /* Actions: url + github */
  .project-detail__actions {
    display: flex;
    gap: 0.6rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }

  /* Small helper for backlink spacing if using BackLink component */
  .project-detail .backlink {
    margin-bottom: 1rem;
  }
}

/* Responsive */
@media (max-width: 640px) {
  .project-detail {
    .project-detail__header {
      /* flex-direction: column; */
      align-items: center;
      gap: 0.5rem;
    }

    .project-detail__logo {
      width: 56px;
      height: 56px;
    }

    .project-detail__title {
      font-size: 1.25rem;
    }
    .project-detail__actions {
      flex-direction: column;
    }

    .project-detail__description {
      padding: 1rem 2rem;
      width: 100%;
      background-color: #000a;
      backdrop-filter: blur(5px);
      margin-top: 1rem;
      margin-left: 0px;
      border-radius: 1rem;
      position: relative;
      z-index: 10;
    }
  }
}
