.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  border-radius: var(--border-radius-full, 8px);
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  padding: 0.5rem 1rem;
}

/* primary */
.btn--primary {
  background-color: #fff;
  color: #000;
}
.btn--primary:hover {
  box-shadow: 0 0px 5px #fff, 0 0px 10px #fff;
}

/* ghost (outline) */
.btn--ghost {
  background: transparent;
  color: #fff;
  /* border: 1px solid #fff; */
  box-shadow: 0 0px 5px #fff, inset 0 0px 5px #fff;
}
.btn--ghost:hover {
  box-shadow: 0 0px 5px #fff, inset 0 0px 5px #fff, 0 0px 10px #fff,
    inset 0 0px 10px #fff;
}
