.project-card {
  border: 2px solid #eee;
  border-radius: 10px;
  padding: 1rem;
  width: 32%;
  min-width: 200px;
  max-width: 350px;
  aspect-ratio: 1/1;

  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;

  & .project-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.5s ease;

  }

  & h3 {
    position: absolute;
    top: -100px;
    left: 10px;
    transition: all 0.3s ease;

  }

  & .project-techs {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: end;
    position: absolute;
    bottom: -50px;
    right: 10px;
    transition: all 0.3s ease;

    & .project-tech {
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }

  &:hover {

    & .project-logo {
      transform: scale(1.5);
      opacity: .2;
    }

    & h3 {
      top: 10px;
    }

    & .project-techs {
      bottom: 10px;
    }
  }

}