.timeline-item {
    width: calc(50% + 3px);
    padding: 20px;
    position: relative;

    & .marker {
        position: absolute;
        top: 26px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: white;
        border: 1px solid var(--color);
        margin-top: 10px;
        z-index: 5;
        filter: drop-shadow(0 0 5px var(--color)) drop-shadow(0 0 10px var(--color)) drop-shadow(0 0 15px var(--color));
    }

    &.timeline-block-right {
        float: right;

        & .marker {
            margin-left: -20px;
        }
    }

    &.timeline-block-left {
        float: left;
        direction: rtl;
        & .marker {
            margin-right: -20px;
        }
    }
}