.portfolio-title {
  text-shadow: 0 0 5px var(--dark-blue), 0 0 10px var(--dark-blue);
}

.buttons-container {
  margin: 2rem auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
